[submodule "camera_ros"]
	path = camera_ros
	url = git@github.com:christianrauch/camera_ros.git
[submodule "robot/src/workspace/src/camera_ros"]
	path = robot/src/workspace/src/camera_ros
	url = git@github.com:christianrauch/camera_ros.git
[submodule "robot/src/workspace/src/kapibara"]
	path = robot/src/workspace/src/kapibara
	url = git@github.com:ProjectRobal/KapiBaraROSPackage.git
[submodule "robot/src/workspace/src/kapibara_mind"]
	path = robot/src/workspace/src/kapibara_mind
	url = git@github.com:ProjectRobal/KapiBara_Control_Network_ROS2.git
