include:
  - aux_services.yaml

services:
  robot:
    container_name: kapibara_robot2
    network_mode: host
    image: robot_ros

    privileged: true
    tty: true
    # networks:
      # - internet
    build:
      dockerfile: ./Dockerfile
      context: ./robot
      # platforms: 
        # - linux/arm64
    stop_signal: SIGINT
    stop_grace_period: 30m
    env_file:
      - ./robot/env/env
    environment:
      - ROS_DOMAIN_ID=0
    volumes:
      - ./robot/entrypoint.sh:/entrypoint.sh:rwx
      - ./robot/run.sh:/run.sh:rwx
      - ./robot/commands/:/app/cmd
      - ./robot/dependencies/:/app/dep
      - ./robot/src:/app/src:rw
      - ./robot/dependencies/rosdep_package.list:/etc/ros/rosdep/sources.list.d/20-default.list
      - /sys:/sys
      - /etc/udev:/etc/udev
      - /run/udev:/run/udev
      - /run/dbus/:/run/dbus
      - /dev:/dev
      # - ./addons:/addons
      # - /dev/shm:/dev/shm
      # - /tmp/.X11-unix:/tmp/.X11-unix:rw

    group_add:
      - video
      - dialout
      - 1001
      # - 993